#hfcrespmenu-open {
  background-image: url("../images/hamburger.png");
  background-repeat: no-repeat;
  background-size: 1em;
  background-position: left center;
  margin: 1em 0;
}

#hfcrespmenu-open a {
  margin-left: 1.5em;
  display: block;
}

#hfcrespmenu-open.open {
  background-image: url("../images/closebutton.png");
}

#hfcrespmenu {
  overflow: hidden;
  height: 0px;
  width: 100%;
}

#hfcrespmenu li {
  visibility: hidden;
}

#hfcrespmenu.show {
  height: 100%;
}

#hfcrespmenu.show li {
  visibility: visible;
}

.hfcrespmenu-button {
margin: 0.5em 0.5em 0.5em 1.1em;
padding: 5px;
border: 1px solid #262729;
border: none;
background: #fff;
}

/* -Desktop Menu- */

@media only screen and (min-width: 855px) {

  #hfcrespmenu {
    max-height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: nowrap;
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-align-items: stretch;
    align-items: stretch;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    height: 100%;
    width: 100%;
  }

  #hfcrespmenu-open,
  #hfcrespmenu-open a {
    display: none;
  }

  #hfcrespmenu li {
    visibility: visible;
  }

}
